<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.synpowertech.dataCollectionJar.dao.PointHw12ktlAMapper">
  <resultMap id="BaseResultMap" type="com.synpowertech.dataCollectionJar.domain.PointHw12ktlA">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="reg_address" jdbcType="INTEGER" property="regAddress" />
    <result column="signal_name" jdbcType="VARCHAR" property="signalName" />
    <result column="signal_type" jdbcType="CHAR" property="signalType" />
    <result column="address_id" jdbcType="INTEGER" property="addressId" />
    <result column="signal_sub_id" jdbcType="INTEGER" property="signalSubId" />
    <result column="signal_guid" jdbcType="VARCHAR" property="signalGuid" />
    <result column="real_type" jdbcType="CHAR" property="realType" />
    <result column="data_type" jdbcType="TINYINT" property="dataType" />
    <result column="start_bit" jdbcType="INTEGER" property="startBit" />
    <result column="bit_length" jdbcType="INTEGER" property="bitLength" />
    <result column="data_gain" jdbcType="REAL" property="dataGain" />
    <result column="correction_factor" jdbcType="REAL" property="correctionFactor" />
    <result column="minVal" jdbcType="REAL" property="minval" />
    <result column="maxVal" jdbcType="REAL" property="maxval" />
    <result column="data_unit" jdbcType="VARCHAR" property="dataUnit" />
    <result column="single_register" jdbcType="CHAR" property="singleRegister" />
    <result column="special_process" jdbcType="VARCHAR" property="specialProcess" />
    <result column="visibility" jdbcType="CHAR" property="visibility" />
    <result column="push" jdbcType="CHAR" property="push" />
    <result column="valid" jdbcType="CHAR" property="valid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, reg_address, signal_name, signal_type, address_id, signal_sub_id, signal_guid, 
    real_type, data_type, start_bit, bit_length, data_gain, correction_factor, minVal, 
    maxVal, data_unit, single_register, special_process, visibility, push, valid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from point_hw_12ktl_a
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from point_hw_12ktl_a
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.synpowertech.dataCollectionJar.domain.PointHw12ktlA">
    insert into point_hw_12ktl_a (id, reg_address, signal_name, 
      signal_type, address_id, signal_sub_id, 
      signal_guid, real_type, data_type, 
      start_bit, bit_length, data_gain, 
      correction_factor, minVal, maxVal, 
      data_unit, single_register, special_process, 
      visibility, push, valid)
    values (#{id,jdbcType=INTEGER}, #{regAddress,jdbcType=INTEGER}, #{signalName,jdbcType=VARCHAR}, 
      #{signalType,jdbcType=CHAR}, #{addressId,jdbcType=INTEGER}, #{signalSubId,jdbcType=INTEGER}, 
      #{signalGuid,jdbcType=VARCHAR}, #{realType,jdbcType=CHAR}, #{dataType,jdbcType=TINYINT}, 
      #{startBit,jdbcType=INTEGER}, #{bitLength,jdbcType=INTEGER}, #{dataGain,jdbcType=REAL}, 
      #{correctionFactor,jdbcType=REAL}, #{minval,jdbcType=REAL}, #{maxval,jdbcType=REAL}, 
      #{dataUnit,jdbcType=VARCHAR}, #{singleRegister,jdbcType=CHAR}, #{specialProcess,jdbcType=VARCHAR}, 
      #{visibility,jdbcType=CHAR}, #{push,jdbcType=CHAR}, #{valid,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.synpowertech.dataCollectionJar.domain.PointHw12ktlA">
    insert into point_hw_12ktl_a
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="regAddress != null">
        reg_address,
      </if>
      <if test="signalName != null">
        signal_name,
      </if>
      <if test="signalType != null">
        signal_type,
      </if>
      <if test="addressId != null">
        address_id,
      </if>
      <if test="signalSubId != null">
        signal_sub_id,
      </if>
      <if test="signalGuid != null">
        signal_guid,
      </if>
      <if test="realType != null">
        real_type,
      </if>
      <if test="dataType != null">
        data_type,
      </if>
      <if test="startBit != null">
        start_bit,
      </if>
      <if test="bitLength != null">
        bit_length,
      </if>
      <if test="dataGain != null">
        data_gain,
      </if>
      <if test="correctionFactor != null">
        correction_factor,
      </if>
      <if test="minval != null">
        minVal,
      </if>
      <if test="maxval != null">
        maxVal,
      </if>
      <if test="dataUnit != null">
        data_unit,
      </if>
      <if test="singleRegister != null">
        single_register,
      </if>
      <if test="specialProcess != null">
        special_process,
      </if>
      <if test="visibility != null">
        visibility,
      </if>
      <if test="push != null">
        push,
      </if>
      <if test="valid != null">
        valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="regAddress != null">
        #{regAddress,jdbcType=INTEGER},
      </if>
      <if test="signalName != null">
        #{signalName,jdbcType=VARCHAR},
      </if>
      <if test="signalType != null">
        #{signalType,jdbcType=CHAR},
      </if>
      <if test="addressId != null">
        #{addressId,jdbcType=INTEGER},
      </if>
      <if test="signalSubId != null">
        #{signalSubId,jdbcType=INTEGER},
      </if>
      <if test="signalGuid != null">
        #{signalGuid,jdbcType=VARCHAR},
      </if>
      <if test="realType != null">
        #{realType,jdbcType=CHAR},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=TINYINT},
      </if>
      <if test="startBit != null">
        #{startBit,jdbcType=INTEGER},
      </if>
      <if test="bitLength != null">
        #{bitLength,jdbcType=INTEGER},
      </if>
      <if test="dataGain != null">
        #{dataGain,jdbcType=REAL},
      </if>
      <if test="correctionFactor != null">
        #{correctionFactor,jdbcType=REAL},
      </if>
      <if test="minval != null">
        #{minval,jdbcType=REAL},
      </if>
      <if test="maxval != null">
        #{maxval,jdbcType=REAL},
      </if>
      <if test="dataUnit != null">
        #{dataUnit,jdbcType=VARCHAR},
      </if>
      <if test="singleRegister != null">
        #{singleRegister,jdbcType=CHAR},
      </if>
      <if test="specialProcess != null">
        #{specialProcess,jdbcType=VARCHAR},
      </if>
      <if test="visibility != null">
        #{visibility,jdbcType=CHAR},
      </if>
      <if test="push != null">
        #{push,jdbcType=CHAR},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.synpowertech.dataCollectionJar.domain.PointHw12ktlA">
    update point_hw_12ktl_a
    <set>
      <if test="regAddress != null">
        reg_address = #{regAddress,jdbcType=INTEGER},
      </if>
      <if test="signalName != null">
        signal_name = #{signalName,jdbcType=VARCHAR},
      </if>
      <if test="signalType != null">
        signal_type = #{signalType,jdbcType=CHAR},
      </if>
      <if test="addressId != null">
        address_id = #{addressId,jdbcType=INTEGER},
      </if>
      <if test="signalSubId != null">
        signal_sub_id = #{signalSubId,jdbcType=INTEGER},
      </if>
      <if test="signalGuid != null">
        signal_guid = #{signalGuid,jdbcType=VARCHAR},
      </if>
      <if test="realType != null">
        real_type = #{realType,jdbcType=CHAR},
      </if>
      <if test="dataType != null">
        data_type = #{dataType,jdbcType=TINYINT},
      </if>
      <if test="startBit != null">
        start_bit = #{startBit,jdbcType=INTEGER},
      </if>
      <if test="bitLength != null">
        bit_length = #{bitLength,jdbcType=INTEGER},
      </if>
      <if test="dataGain != null">
        data_gain = #{dataGain,jdbcType=REAL},
      </if>
      <if test="correctionFactor != null">
        correction_factor = #{correctionFactor,jdbcType=REAL},
      </if>
      <if test="minval != null">
        minVal = #{minval,jdbcType=REAL},
      </if>
      <if test="maxval != null">
        maxVal = #{maxval,jdbcType=REAL},
      </if>
      <if test="dataUnit != null">
        data_unit = #{dataUnit,jdbcType=VARCHAR},
      </if>
      <if test="singleRegister != null">
        single_register = #{singleRegister,jdbcType=CHAR},
      </if>
      <if test="specialProcess != null">
        special_process = #{specialProcess,jdbcType=VARCHAR},
      </if>
      <if test="visibility != null">
        visibility = #{visibility,jdbcType=CHAR},
      </if>
      <if test="push != null">
        push = #{push,jdbcType=CHAR},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.synpowertech.dataCollectionJar.domain.PointHw12ktlA">
    update point_hw_12ktl_a
    set reg_address = #{regAddress,jdbcType=INTEGER},
      signal_name = #{signalName,jdbcType=VARCHAR},
      signal_type = #{signalType,jdbcType=CHAR},
      address_id = #{addressId,jdbcType=INTEGER},
      signal_sub_id = #{signalSubId,jdbcType=INTEGER},
      signal_guid = #{signalGuid,jdbcType=VARCHAR},
      real_type = #{realType,jdbcType=CHAR},
      data_type = #{dataType,jdbcType=TINYINT},
      start_bit = #{startBit,jdbcType=INTEGER},
      bit_length = #{bitLength,jdbcType=INTEGER},
      data_gain = #{dataGain,jdbcType=REAL},
      correction_factor = #{correctionFactor,jdbcType=REAL},
      minVal = #{minval,jdbcType=REAL},
      maxVal = #{maxval,jdbcType=REAL},
      data_unit = #{dataUnit,jdbcType=VARCHAR},
      single_register = #{singleRegister,jdbcType=CHAR},
      special_process = #{specialProcess,jdbcType=VARCHAR},
      visibility = #{visibility,jdbcType=CHAR},
      push = #{push,jdbcType=CHAR},
      valid = #{valid,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>